table, th, td{
    border: 1px solid black  ;
}
.cabeçalho-moda{
    background-color: #bb86fc;
    font-style: italic;
    color: #ffffff;
}.cabeçalho-casa{
    background-color: #00C4B4;
    font-style: italic;
    color: #ffffff;

}
.produto-moda{
    background-color: black;
    font-style: italic;
    color: #ffffff
    ;
   
}
.produto-casa{
    background-color: black;
    font-style: italic;
    color: #ffffff;
}
